.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.image-uploader {
    text-align: center;
}

.image-uploader .btn, .image-uploader input {
    outline: none !important;
}

.image-uploader .image-preview {

}

.image-uploader .image-actions {
    margin-top: 15px;
}

.image-uploader .image-preview img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 1px;
}

.oauth-services {
    margin-top: 15px;
}

.oauth-services > div {
    margin-top: 10px;
}

.space-down {
    margin-bottom: 5px;
    display: block !important;
}